#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--white);
    
  
}

h1{
  
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 15px;
    padding-top: 30px;
}


::deep a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    transition: all .3s;
   
}
