<nav class="">
    <div class="link">
        <NavLink href="/" Match="NavLinkMatch.All">
            Startsida
        </NavLink>
    </div>
    <div class="link">
        <NavLink class="custom-link" href="konvertering">
            Konvertering
        </NavLink>
    </div>
    <div class="link">
        <NavLink class="custom-link" href="trafik">
            Trafikläget
        </NavLink>
    </div>

</nav>


@code {

}
