nav {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
   
   
}

.link {
    margin-right: 50px;
    
}

::deep a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    transition: all .3s;
   
}

::deep a:hover{
    background-color: var(--blueHover);
    border-radius: 4px;
}



::deep .active{
    background-color:var(--blueActive);
    border-radius: 4px;
}