@page "/"

<PageTitle>Home</PageTitle>

<h1>Startsida</h1>
<section>
<h3>Välkommen till denna Blazor-applikation!</h3>
<br>
<p>På denna webbplats kan olika konverteringar göras.</p>
<br>
<p> Förutom detta går det även att se olika väderinformation för vädret i Falun, hämtat från OpenWeatherMap API.</p>
</section>


