@page "/"

<PageTitle>Home</PageTitle>

<h1>Startsida</h1>
<section>
<h3>Välkommen till denna Blazor-applikation!</h3>
<br>
<p>På denna webbplats kan olika konverteringar göras.</p>
<br>
<p> Förutom detta kan även en del olika information från Trafikverket visas.</p>
</section>


