#header-container[b-on1knhe9u4]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--white);
    
  
}

h1[b-on1knhe9u4]{
  
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 15px;
}
p[b-on1knhe9u4] {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    padding-right: 15px;
}